p{
    color:red;    
}
h1{
     color:blue;
}
.gmail{
    color:green;
}
.character{
    color:aquamarine;
}
.classmate{
    background-color:grey;
}
.department{
    background-color:aquamarine;
}
.school{
    color:orange;
}
